* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

section {
    background: grey;
    padding: 10px;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.yellow {
    flex-basis: 25%;
    padding: 10px;

}

.pink {
    padding: 10px;
}

.column {
    flex-direction: column;
    display: flex;
}

.row {
    flex-direction: row;
    display: flex;
}

.bg-lime {
    background: lime;
}

.bg-red {
    background: red;
}

.blue {
    padding: 10px;
}

.bg-blue:hover {
    background: linear-gradient(to right, #1866c0, #95177a);
    background-color: #1866c0;
    border: 2px solid red;
    border-radius: 12px;

}

.bg-blue {
    background: blue;
    min-height: 200px;
    border: 1px solid #000;
}

.bg-yellow {
    background: yellow;
    min-height: 200px;
    border: 1px solid #000;
}

.bg-yellow:hover {
    border-radius: 12px;
    background: linear-gradient(to right, #e50505, #5b07d1);
    background-color: #e50505;
    border: 2px solid red;
}

.bg-pink {
    background: fuchsia;
    min-height: 200px;
    border: 1px solid #000;
}

.bg-pink:hover {
    border-radius: 12px;
    background: linear-gradient(to right, #8c05e5, #d15507);
    background-color: #8c05e5;
    border: 2px solid red;
}

.d-flex {
    display: flex;
}

.m-bott10 {
    margin-bottom: 10px;
}

.m-left10 {
    margin-left: 10px;
}

.m-right10 {
    margin-right: 10px;
}

.pad10 {
    padding: 10px;
}

.flex {
    flex: 1 0 auto;
}

.pink-50 {
    flex: 1 0 50%;

}

p {
    text-align: center;
    font-size: 30px;
}

.wrap {
    flex-wrap: wrap;
    display: flex;
}


/*.block-2:hover {*/
/*    animation-name: turn-block;*/
/*    animation-duration: 15s;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: linear;*/
/*    transform-style: preserve-3d;*/
/*}*/
.yellow {
    animation-name: turn-yell;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.bg-blue {
    animation-name: color;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@media (max-width: 992px) {
    .pull-100 {
        width: 100%;
        max-width: 100%;
    }

    .yellow {
        flex-basis: 50%;
    }

    .bg-blue {
        min-height: 100px;
    }

    .bg-yellow {
        min-height: 100px;
    }

    .bg-pink {
        min-height: 100px;
    }
}

@keyframes turn-block {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }

}

@keyframes turn-yell {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0);
    }
}

@keyframes color {
    0% {
        background-color: blueviolet;
    }
    25% {
        background-color: deepskyblue;
    }
    50% {
        background-color: slateblue;
    }
    100% {
        background-color: darkblue;
    }
}

